.color-footer {
    color: #E9EBF8;
    background-color: #472a2a;
    flex-grow: 0;
    flex-basis: 100px;
}

.a:hover {
    color: rgb(0, 0, 0);

}

.fs-7 {
    font-size: 0.85rem;
}

.link-decoration {
    color: rgb(199, 199, 199);
    text-decoration: none;
}

.link-decoration:hover {
    color: rgb(163, 162, 162);
    text-decoration: underline;
}

.padding {
    padding: 2% 0 2% 0;
}