.bg-rodape {
    background-color: #472a2a;
}

.color-footer {
    color: #E9EBF8;
}

.container-rodape a:hover {
    color: rgb(0, 0, 0);

}

.fs-7 {
    font-size: 0.85rem;
}

.link-decoration {
    text-decoration: none;
    text-decoration-line: none;
    color: rgb(199, 199, 199);
}

.link-decoration:hover {
    color: rgb(163, 162, 162) !important;
}