.bg-preto {
    background-color: #323232;
}

.bg-branco-amarelado {
    background-color: #C6C6C6;
}

.centralizado {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}