@font-face {
  font-family: "Atlas";
  src: url("./componentes/assets/fonts/atlas-serif.otf") format(opentype);
}

@font-face {
  font-family: "Hammer";
  src: url("./componentes/assets/fonts/HammerBroInBowserIsBack-Regular.otf") format(opentype);
}

body, html{
  margin: 0;
  font-family: Atlas;
  letter-spacing: 3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-white-blue {
  background: #a5a4a4;
}

.bg-marrom {
  background: #C6C6C6;
}

.product {
  width: 200px;
  margin-right: 1rem;
}