@font-face {
  font-family: "Atlas";
  src: url("./componentes/assets/fonts/atlas-serif.otf") format(opentype);
}

@font-face {
  font-family: "Hammer";
  src: url("./componentes/assets/fonts/HammerBroInBowserIsBack-Regular.otf") format(opentype);
}

body,
html {
  margin: 0;
  font-family: Atlas;
  letter-spacing: 2px;
  height: -webkit-fill-available;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.Hammer {
  font-family: Hammer;
}

.limite {
  min-width: 780px;
}

.logo {
  max-width: 200px;
}

.bg-nav {
  background: #a5a4a4;
  flex-grow: 0;
  flex-basis: auto;
}

.lista-produtos {
  width: 90%;
  flex-grow: 1;
  flex-basis: auto;
}

.card {
  max-width: 8.5cm;
  height: 11cm;
}